body {
  background-color: #1f1f1f;
}

h1,
h2 {
  font-family: "Noto Sans JP";
  font-weight: 300;
  /* border: solid;
  border-color: white; */
  color: white;

  text-align: center;
}

h1 {
  font-size: 4em;
  margin-top: 1em;
}

h2 {
  font-size: 1.8em;
}

.timer {
  font-size: 1.8em;
  font-family: "Consolas";
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  height: 100vh;
}

img {
  text-align: center;
}
