body {
  background-color: #1f1f1f;
}

p,
h1,
h2,
h3,
span {
  font-family: "Montserrat", sans-serif;
  color: white;
}

p {
  line-height: 1.5em;
}

.container {
  width: 80%;
  margin: auto;

  /* Margins */
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  padding: 1.5em;

  /* Temp border */
  /* border: tomato;
  border-style: solid; */

  border-radius: 1em;
}

.project {
  background-color: #282828;
}

h1 {
  font-size: 4em;
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-size: 2.25em;
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
  margin-bottom: 0.5em;
}

.heading p {
  font-size: 1.125em;
  font-weight: 500;
}

.project p {
  font-weight: normal;
}

span.tag {
  border-radius: 1em;
  padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;

  margin: 0.2em;
  color: black;
}

.green-backing {
  background-color: #26ed83;
}

.red-backing {
  background-color: #ed254e;
}

.pink-backing {
  background-color: #da4eb9;
}

.light-blue-backing {
  background-color: #26d3ed;
}

/* .center {
  margin: auto;
  width: 80%;
  border: 3px solid green;
  padding: 10px;
} */
